<script>
    window.paceOptions = { 
        ajax: { ignoreURLs: ['mainHub', '__browserLink', 'browserLinkSignalR'], trackWebSockets: false } 
    };
</script>
<script src="{{ url_for('static', filename='js/vendor.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/site.js') }}"></script>